# Neo4j Configuration
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=password123
NEO4J_URL=bolt://alpha:7687

# Embedding Model Configuration
EMBED_MODEL=qwen3-embedding:latest
EMBED_BASE_URL=http://alpha:11434

# LLM Configuration
; LLM_MODEL=llama3.1:70b
LLM_MODEL=gpt-oss:120b
LLM_BASE_URL=http://alpha:11434
